# VCS
.git
.gitignore

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
backend/venv/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Development secrets/environments
.env
.env.*
!.env.example
frontend/.env.example
backend/.env.example

# OS files
.DS_Store
Thumbs.db
